body {
	background: linear-gradient(rgba(0,0,150,0.5),rgba(0,0,50,0.5)),url(background.jpg);
	background-size: cover;
	background-position: center;
	font-family: bookman old style, san-sarif;
	color: #fff;
}

#container{
	width: 950px;
	margin:0 auto;
	overflow: hidden;
}


.aside {
	float: left;
	width: 200px;
	height: auto;
	border-radius: 10px;
	border: 2px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
	text-align: center;
	padding: 20px;
}

.main{
	float:left;
	width: 600px;
	height: auto;
	background-color:;
	border-radius: 10px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
	margin-left: 10px;
	text-align: justify;
	padding: 20px;
}

/*Navigation Bar*/
.navigation-bar{
	height: 50px;
	width: 100%;
	text-align: center;
	box-shadow: 1px 2px 4px gray;
	background: rgba(2,2,2,0.2);
	margin-bottom: 20px;
}

.navigation-bar li {
	list-style-type: none;
	display: inline-block;
	padding: 10px;
	margin: 0px 20px;
	float: right;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
}


/*contact form*/
form{
	margin-top: 60px;
	transition: all 4s ease-in-out;
}

.form-control{
	width: 600px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 2px solid gray;
	color: #fff;
	font-size: 19px;
	margin-bottom: 16px;

}

input{
	height: 45px;
}

form .submit{
	background: #ff5721;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold; 
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}

form .submit:hover {
	background-color: #f44336;
	cursor: pointer;
}